.other-works{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2% 0;
}
.mini-cards-box{
    width: 1280px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }